<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.shareclub.mapper.UserMapper">
    <!--插入一条数据-->
    <insert id="insert" parameterType="net.shareclub.bean.User">
        insert into t_user (name, password) value (#{name},#{password})
    </insert>
</mapper>